<ul>
	{% for e_det in e_dets_all%}
	<h1>Employee Name : {{e_det.employee}}</h1>
	Expense Title  : {{e_det.expense_title}}
	<br>Category  : {{e_det.category}}
	<br>Date : {{e_det.date }}
	<br>Amount  : {{e_det.amount}}
	<br>Receipt : <a href ="media/{{e_det.receipt}}">{{e_det.receipt}}</a>
	{% if e_det.approval == None %}
<form role="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
    
    {% else %}
    <br>Approval : {{e_det.approval}}
    {% endif %}
	{% endfor %}
    
</ul>